---
interface Social {
  name: string;
  url: string;
}

interface Props {
  socials: Social[];
}

const { socials } = Astro.props;
---

<ul class="social-links">
  {
    socials.map((social) => (
      <li>
        <a href={social.url} target="_blank" rel="noreferrer">{social.name}</a>
      </li>
    ))
  }
</ul>
